.quizz-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url('https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png'); /* Pokémon fotoğrafı */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-item {
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-button {
  padding: 15px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 600px;
}

.option-button:hover {
  background-color: #4CAF50;
  color: white;
  transform: scale(1.05);
}

.option-button.selected {
  background-color: #28a745;
  color: white;
}

.next-btn {
  padding: 15px 25px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.next-btn:hover {
  background-color: #0056b3;
}

.result-container {
  text-align: center;
}

.restart-btn {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.1rem;
}

.restart-btn:hover {
  background-color: #218838;
}
